<!DOCTYPE html>
<html>
  <head lang="en">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=0.5, maximum-scale=2.0">
    <meta name="description" content="უმაღლესი ხარისხის კომპიუტერული მომსახურება, კომპიუტერების და ლეპტოპების შეკეთება.">
    <link rel="original-source" href="/" />
	  <link rel="canonical" href="/" />



    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

    <meta property="fb:app_id" content="150697192318003" />
    <meta property="og:locale" content="ka_GE" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="UCOMP.GE" />
    <meta property="og:description" content="კომპიუტერული მომსახურება, კომპიუტერების და ლეპტოპების შეკეთება." />
    <meta property="og:url" content="/" />
    <meta property="og:site_name" content="ucomp.ge" />
    <meta property="og:image" content="" />

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '150697192318003',
          xfbml      : true,
          version    : 'v2.11'
        });
        FB.AppEvents.logPageView();
      };
    
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    window.main();
    new WOW().init();
  </script>
</html>